<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre Puerta18</title>
</head>
<body>
    <header>
        <a href="/public"><img src="/images/logo-mercado-liebre.svg" alt=""></a>

        <div>
            Lugar para poner la barra de búsqueda
        </div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>

        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="#">Crea tu cuenta</a></li>
                <li><a href="#">Ingresa</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>


    </header>
    
    <main>
        <img width="100%" src="/images/img-home-banner.jpg" alt="banner">

        <section>
            <h2>Basado en tu ultima visita</h2>
            <div>
                <article>
                    <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </article>
            </div>
        </section>



    </main>

    <footer>

        <section>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p>>Con Mercado Liebre Cash, tenés cuotas sin interéscon tarjeta o efectivo en puntos de pago. ¡Ysiempre es seguro!</p>
        
        </section>
        
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenésenvíos gratis en miles de productos. Es unbeneficio de Mercado Puntos</p>
        </section>

        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, nohay nada que no puedas hacer, porque estássiempre protegid@.</p>
        </section>
    
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>

    </footer>
</body>
</html>
